/* Based on the Deck.js Web 2.0 theme */
.deck-container {
  font-family: Calibri, "Gill Sans", "Gill Sans MT", sans-serif;
  font-size: 1.25em;
  background: #F6F7FE;
  background: -webkit-linear-gradient(top, #F6F7FE 0%, #D9DFFC 100%);
  padding: 0;
  width: 80%;
}
.deck-container > .slide {
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
}
.deck-container pre, .deck-container code, .deck-container kbd, .deck-container samp {
  font-family: Consolas, monospace, sans-serif;
}
.deck-container h1, .deck-container h2, .deck-container h3, .deck-container h4, .deck-container h5, .deck-container h6 {
  font-family: Constantia, Palatino, "Palatino Linotype", "Book Antiqua", Georgia, serif;
}
.deck-container h1 {
  color: #0E58B9;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}
.deck-container h1 span {
  display: block;
  font-size: .6em;
  margin-top: .5em;
}
.deck-container h2 {
  color: #0E58B9;
  border-bottom: 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
/*
.cssreflections .deck-container h2 {
  line-height: 1;
  -webkit-box-reflect: below -0.556em -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.3, transparent), color-stop(0.7, rgba(255, 255, 255, 0.1)), to(transparent));
  -moz-box-reflect: below -0.556em -moz-linear-gradient(top, transparent 0%, transparent 30%, rgba(255, 255, 255, 0.3) 100%);
}
*/
.deck-container h3 {
  color: #000;
  margin-top: 30px;
}
.deck-container pre {
  border-color: #cde;
  background: #fff;
  position: relative;
  /* http://nicolasgallagher.com/css-drop-shadows-without-images/ */
}
.borderradius .deck-container pre {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.csstransforms.boxshadow .deck-container pre:before, .csstransforms.boxshadow .deck-container pre:after {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: 15px;
  width: 50%;
  height: 20%;
  max-width: 300px;
  -webkit-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
}
.csstransforms.boxshadow .deck-container pre:before {
  left: 10px;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.csstransforms.boxshadow .deck-container pre:after {
  right: 10px;
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  transform: rotate(3deg);
}
.deck-container code {
  color: #396B9D;
}
.deck-container blockquote,
.deck-container blockquote.slide {
/*  font-family: Constantia, Palatino, "Palatino Linotype", "Book Antiqua", Georgia, serif;*/
  font-size: 1.2em;
  padding: 1em 2em .5em 2em;
  color: #000;
  background: #fff;
  position: relative;
  border: 1px solid #cde;
}
.borderradius .deck-container blockquote {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.boxshadow .deck-container blockquote:after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 10px;
  bottom: 10px;
  left: 0;
  right: 50%;
  -moz-border-radius: 10px/100px;
  border-radius: 10px/100px;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
}
.deck-container blockquote p {
  margin: 0;
}
.deck-container blockquote cite {
  font-size: .7em;
  font-style: italic;
  font-weight: bold;
  color: #888;
}
.deck-container blockquote:before {
  content: "“";
  position: absolute;
  top: 0;
  left: .05em;
  font-size: 4em;
  line-height: 1;
  color: #CCDEF0;
  z-index: 1;
}
.deck-container .borderradius img {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.deck-container ::-moz-selection {
  background: #08455f;
  color: #fff;
}
.deck-container ::selection {
  background: #08455f;
  color: #fff;
}
.deck-container a, .deck-container a:hover, .deck-container a:focus, .deck-container a:active, .deck-container a:visited {
  color: #556C9B;
  text-decoration: none;
}
.deck-container a:hover, .deck-container a:focus {
  text-decoration: underline;
}
.deck-container .deck-prev-link, .deck-container .deck-next-link {
  background: #fff;
  opacity: 0.5;
}
.deck-container .deck-prev-link, .deck-container .deck-prev-link:hover, .deck-container .deck-prev-link:focus, .deck-container .deck-prev-link:active, .deck-container .deck-prev-link:visited, .deck-container .deck-next-link, .deck-container .deck-next-link:hover, .deck-container .deck-next-link:focus, .deck-container .deck-next-link:active, .deck-container .deck-next-link:visited {
  color: #599;
}
.deck-container .deck-prev-link:hover, .deck-container .deck-prev-link:focus, .deck-container .deck-next-link:hover, .deck-container .deck-next-link:focus {
  opacity: 1;
  text-decoration: none;
}
.deck-container .deck-status {
  font-size: 0.6666em;
}
.deck-container.deck-menu .slide {
  background: transparent;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.rgba .deck-container.deck-menu .slide {
  background: rgba(0, 0, 0, 0.1);
}
.deck-container.deck-menu .slide.deck-current, .rgba .deck-container.deck-menu .slide.deck-current, .no-touch .deck-container.deck-menu .slide:hover {
  background: #fff;
}
.deck-container .goto-form {
  background: #fff;
  border: 1px solid #cde;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.boxshadow .deck-container .goto-form {
  -webkit-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.deck-child-current .deck-previous,
.deck-child-current .deck-before,
.deck-child-current .deck-current {
  left: 0;
  top: 0;
}

/* Custom stuff */
.deck-container li cite {
	font-style: italic;
}
.deck-container:not(.deck-menu) > .deck-before .hide-on-next:not(.deck-current),
.deck-container:not(.deck-menu) > .deck-previous .hide-on-next:not(.deck-current),
.hide-on-next + .slide.deck-next,
.hide-on-next + .slide.deck-after {
	display: none;
}
.deck-container .deck-before.deck-child-current .hide-when-before {
  display: none;
}
.deck-container ul {
	font-size: 1.3em;
	list-style-image: url(../img/bullet.png);
}
.deck-container li.twitter {
	list-style-image: url(../img/iamnotyourbroom.png);
}
.deck-container li.github {
	list-style-image: url(../img/gravatar.jpg);
}
.deck-container small {
  font-size: 75%;
}
.deck-container .big {
  font-size: 150%;
}
.deck-container .huge {
  font-size: 250%;
}
.deck-container img.right {
  float: right;
}
#not-quite-the-end p {
	margin-bottom: .5em;
}

ul.content {
  list-style: none;
}
ul.content li {
  position: relative;
}
ul.content li:before {
  position: absolute;
  left: -1.5em;
}
ul.content li.yes:before {
  content: '✔';
  color: #090;
}
ul.content li.no:before {
  content: '✖';
  color: #c00;
}

.support td {
  padding: 5px;
  text-align: center;
}
.support .feature {
  font-weight: bold;
  text-align: left;
}
.support .yes {
  background: #BBE0BB;
}
.support .sortof {
  background: #E6E6BA;
}
.support .no {
  background: #DFADAD;
}
.support .no:before {
  content: '✖';
  color: #444;
  margin: 0 5px;
}

.flow {
  text-align: center;
}
.flow .item, .flow .arrow {
  display: block;
}
.flow .item {
  height: 47px;
}
.flow .item span {
  background: #fff;
  border: 1px solid #7ad;
  border-radius: 5px;
  display: inline-block;
  height: 25px;
  padding: 10px 20px;
}
.flow .arrow {
  background: #7ad;
  height: 30px;
  margin: 0 auto 20px;
  position: relative;
  width: 20px;
}
.flow .arrow:after {
  border: 20px solid transparent;
  border-bottom-width: 0;
  border-top-color: #7ad;
  content: '';
  height: 0;
  left: -10px;
  position: absolute;
  top: 30px;
  width: 0;
}
